<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="about">Markdownについて</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       質問の内容が分かりやすいと素早く回答を得る事ができるかもしれません。<br>
        その為当サイトではMarkdwon記法を採用しています。 <br>
	Markdwon記法は記号を使う事により簡単にhtml形式に表現でき、<br>
	読みやすい文章が書く事が可能になります。<br>
	見出し：#、##、###<br>
	斜体：*ABCDEFG*<br>
	強調：**ABCDEFG**<br>
	箇条書き： ◦「*」「+」「-」（記号の直後にスペースかタブ要）<br>
	   ◦行頭に数字＋ピリオド：番号付け（記号の直後にスペースかタブ要）<br>
	   ◦箇条書き・番号付けの後ろで改行は、「行末スペース*2」で出来る ◦レベル2は、「 - 」。<br>
	引用：><br>
	リンク：[リンクテキスト](URL "タイトル")<br>
	画像：![代替テキスト](画像のURL)<br>
	段落内での改行：行末にスペース2つ<br>
  	水平線: ___
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
