<div class="row">
  <div class="col-5 offset-7 text-right">
    <h2 class="footer-title"><i class="far fa-gem"></i>Wassue　
    <font face='Great Vibes, cursive' size="4">©︎2019 K.Nishina　</font>
    <a href="https://twitter.com/wassue_">
      <button type="button" class="btn btn-light btn-sm">
        <i class="fab fa-twitter"></i>@wassue_
      </button>
    </a>　
    </h2>
  </div>
</div>
